<h2>My Projects</h2>
<ul class="projects">
  <li *ngFor="let project of projects"
    [class.selected]="project === selectedProject"
    (click)="onSelect(project)">
    <span class="badge">{{project.id}}</span> {{project.name}}: {{project.description}}
  </li>
</ul>

<div *ngIf="selectedProject">

  <h2>{{ selectedProject.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedProject.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedProject.name" placeholder="name">
    </label>
    <label>description:
      <input [(ngModel)]="selectedProject.description" placeholder="description">
    </label>
  </div>

</div>